.page {
    width: 500px; 
    padding: 20px;
    border: 5px solid rgb(255, 213, 0);
    background-color:rgb(87, 237, 6);
    margin: 0 auto;
}

.package-name {
    color:blueviolet; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#progress {
    background-color: yellow;
}

.suggestions {
    width: 150px; 
    display: inline-block;
}

.suggestion {
    background-color: grey;
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 50px;
}

.suggestion.false {
    background-color: red;
}

.suggestion.true {
    background-color: green;
}

.background-cover { 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:contain;
  width: 250px; display: inline-block;
  height: 250px;
  visibility: hidden;
}

.background-cover.show-image {
    visibility: visible;
}